<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="SupportConnection" connectionString="Data Source=DESKTOP-NPL6QM5;Database=QLDSSV_TC ;Persist Security Info=True;User ID=HTKN; password=123456" providerName="System.Data.SqlClient" />
 <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=StudentManagement.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="QLDSSV_TCEntities" connectionString="metadata=res://*/Repositories.Model1.csdl|res://*/Repositories.Model1.ssdl|res://*/Repositories.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NPL6QM5;initial catalog=QLDSSV_TC;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Model11" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=StudentManagement.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>