USE [QLDSSV_TC]
GO
/****** Object:  User [HTKN]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_9C371ACDFE064D6289781BF9BEA29AF8]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE ROLE [MSmerge_9C371ACDFE064D6289781BF9BEA29AF8]
GO
/****** Object:  DatabaseRole [MSmerge_B6F4789E73CC478CA0097BCD2FEC74EC]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE ROLE [MSmerge_B6F4789E73CC478CA0097BCD2FEC74EC]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_B6F4789E73CC478CA0097BCD2FEC74EC] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_9C371ACDFE064D6289781BF9BEA29AF8] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_9C371ACDFE064D6289781BF9BEA29AF8]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B6F4789E73CC478CA0097BCD2FEC74EC]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_CT_LICHHOC]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_CT_LICHHOC] AS TABLE(
	[MALH] [int] NULL,
	[MALTC] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_DAY]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_DAY] AS TABLE(
	[MAMH] [nchar](10) NULL,
	[MALTC] [int] NULL,
	[MAGV] [nchar](10) NULL,
	[NHOM] [int] NULL,
	[MANK] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_DAY_TEMP]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_DAY_TEMP] AS TABLE(
	[MAMH] [nchar](10) NULL,
	[MALTC] [int] NULL,
	[MAGV] [nchar](10) NULL,
	[NHOM] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_GIANGVIEN]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_GIANGVIEN] AS TABLE(
	[MAGV] [nchar](10) NULL,
	[MAKHOA] [nchar](10) NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_KHANANGGIANG]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_KHANANGGIANG] AS TABLE(
	[MAMH] [nchar](10) NULL,
	[MAGV] [nchar](10) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_LOP]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_LOP] AS TABLE(
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_LopTinChi]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_LopTinChi] AS TABLE(
	[HUYLOP] [bit] NULL,
	[MAGV] [nchar](10) NULL,
	[MAKHOA] [nchar](10) NULL,
	[MALTC] [int] NULL,
	[MAMH] [nchar](10) NULL,
	[NHOM] [int] NULL,
	[MANK] [nchar](9) NULL,
	[SOSVTOITHIEU] [int] NULL,
	[SOSVTOIDA] [int] NULL,
	[MANV] [char](10) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_MONHOC]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_MONHOC] AS TABLE(
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_NEWUPDATE_SINHVIEN]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_NEWUPDATE_SINHVIEN] AS TABLE(
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[KHOAHOC] [char](15) NOT NULL,
	[MACN] [char](10) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_UPDATE_DANGKY]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_UPDATE_DANGKY] AS TABLE(
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_UPDATE_DIEM]    Script Date: 10/12/2022 2:58:37 PM ******/
CREATE TYPE [dbo].[TYPE_UPDATE_DIEM] AS TABLE(
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [float] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_SAME_PLAN_WITH_NK]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_SAME_PLAN_WITH_NK](@MAGV NCHAR(10),@ID_LH INT,
@MANK NCHAR(10))
RETURNS BIT
AS
	BEGIN
		IF EXISTS(
			SELECT*FROM LOPTINCHI LTC INNER JOIN CHITIETLICHHOC CTLH
				ON LTC.ID = CTLH.ID_LTC INNER JOIN DAY D
				ON LTC.ID = D.ID_LTC
			WHERE D.MAGV = @MAGV AND CTLH.ID_LH = @ID_LH AND LTC.MANK = @MANK)
			BEGIN
				RETURN 1
			END
		RETURN 0
	END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_CHECK_GV_DAY_PLAN]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_CHECK_GV_DAY_PLAN](@ID_LTC INT,@MAGV NCHAR(10))
RETURNS BIT
AS
	BEGIN
		DECLARE @ID_LH TABLE(ID_LH INT)
		DECLARE @MANK NCHAR(10)
		SELECT @MANK=LTC.MANK FROM LOPTINCHI LTC WHERE LTC.ID= @ID_LTC
		BEGIN
			INSERT INTO @ID_LH
			SELECT CTLH.ID_LH FROM LOPTINCHI LTC INNER JOIN CHITIETLICHHOC CTLH
			ON LTC.ID = CTLH.ID_LTC INNER JOIN DAY D
			ON LTC.ID = D.ID_LTC
			WHERE LTC.ID = @ID_LTC
		END
		BEGIN
			IF EXISTS(SELECT*FROM LOPTINCHI LTC INNER JOIN CHITIETLICHHOC CTLH
					ON LTC.ID = CTLH.ID_LTC INNER JOIN DAY D
					ON LTC.ID = D.ID_LTC
					WHERE D.MAGV = @MAGV AND CTLH.ID_LH IN (SELECT ID_LH FROM @ID_LH) 
					AND LTC.MANK = @MANK)
					BEGIN
						RETURN 1
					END
		END
		RETURN 0
	END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_CHECK_LTC_DK_NIENKHOA]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_CHECK_LTC_DK_NIENKHOA] (@ID INT, @MANK NCHAR(10))
RETURNS BIT
AS
	BEGIN
		IF EXISTS(SELECT * FROM LOPTINCHI LTC WHERE LTC.ID = @ID AND 
					LTC.MANK = @MANK)
		BEGIN
			RETURN 1
		END
		RETURN 0
	END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_CHECK_SV_THI]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNC_CHECK_SV_THI] (@MASV NCHAR(10))
RETURNS BIT
AS
BEGIN
	DECLARE @COUNT INT
	SELECT @COUNT=COUNT(DK.MASV) FROM SINHVIEN SV 
		INNER JOIN DANGKY DK ON SV.MASV = DK.MASV
		INNER JOIN LOPTINCHI LTC ON DK.ID_LTC = LTC.ID
		INNER JOIN KYNIENKHOA KNK ON LTC.MANK = KNK.MANK
	WHERE SV.MASV = @MASV AND LTC.HUYLOP = 0 
		AND GETDATE() > KNK.THOIGIAN_KTDK
	GROUP BY SV.MASV
	IF(@COUNT > 0)
		BEGIN
			RETURN 1
		END
	RETURN 0
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_KT_DK_LopTinChi]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FUNC_KT_DK_LopTinChi] (@MALTC int)
returns bit
as begin
	if (select count(*) from DANGKY where ID_LTC = @MALTC) > 0
		return 1
	else
		return 0
	return 1

end
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_KT_MAGV_EXIST_DAY_LTC]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FUNC_KT_MAGV_EXIST_DAY_LTC](@magv nchar(10), @mamh nchar(10))
returns bit
as
begin
 IF  exists(select MAGV from  dbo.DAY D, dbo.LOPTINCHI LTC  
 where D.ID_LTC = LTC.ID and MAMH = @mamh and MAGV =@magv)
 BEGIN
   	RETURN 1
 END
 ELSE
  IF  exists(select MAGV from  
  LINK0.QLDSSV_TC.dbo.DAY D,LINK0.QLDSSV_TC.dbo.LOPTINCHI LTC 
  where D.ID_LTC = LTC.ID and MAMH = @mamh and MAGV =@magv )
  BEGIN
    RETURN 1	                  
  END
     RETURN 0
end
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_KT_MAGV_KHOANGOAI]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FUNC_KT_MAGV_KHOANGOAI](@magv nchar(10))
returns bit
as
begin
 IF  exists(select MAGV from  dbo.DAY  where MAGV=@magv)
 BEGIN
   	RETURN 0
 END
 ELSE
  IF  exists(select MAGV from  LINK0.QLDSSV_TC.dbo.DAY  where MAGV =@magv)
  BEGIN
    RETURN 0	                  
  END
     RETURN 1
end
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_KT_MALOP]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FUNC_KT_MALOP] (@X nchar(10))
RETURNS BIT
as BEGIN
 DECLARE @MAKHOA nchar(10), @KHOAHOC nvarchar(50), @TENLOP nvarchar(10)
 IF  exists(select MALOP from  dbo.LOP  where MALOP=@X)
 BEGIN
   	RETURN 0
 END
 ELSE
  IF  exists(select MALOP from  LINK0.QLDSV_TC.dbo.LOP  where MALOP =@X)
  BEGIN
    RETURN 0	                  
  END
     RETURN 1
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_KT_MALOP_EXISTSBYSERVER]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FUNC_KT_MALOP_EXISTSBYSERVER] (@X nchar(10))
RETURNS BIT
as BEGIN
 DECLARE @MAKHOA nchar(10), @KHOAHOC nvarchar(50), @TENLOP nvarchar(10)
 IF  exists(select MALOP from  dbo.LOP  where MALOP=@X)
 BEGIN
   	RETURN 0
 END
     RETURN 1
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_KT_MAMONHOC]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FUNC_KT_MAMONHOC] (@X nchar(10))
RETURNS BIT
as BEGIN
 IF  exists(select MAMH from  dbo.MONHOC  where MAMH=@X)
 BEGIN
   	RETURN 0
 END
     RETURN 1
END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_KT_MASINHVIEN]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FUNC_KT_MASINHVIEN] (@X nchar(10))
RETURNS BIT
as BEGIN
 IF  exists(select MASV from  dbo.SINHVIEN  where MASV=@X)
 BEGIN
   	RETURN 0
 END
 ELSE
  IF  exists(select MASV from  LINK0.QLDSV_TC.dbo.SINHVIEN  where MASV =@X)
  BEGIN
    RETURN 0	                  
  END
     RETURN 1
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_KT_MONHOC]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[func_KT_MONHOC] (@mamh nchar(10))
returns bit
as
begin
	if(exists(select*from link0.QLDSSV_TC.dbo.LOPTINCHI l where l.MAMH=@mamh))
		begin
			return 0;
		end
	return 1;
end
GO
/****** Object:  UserDefinedFunction [dbo].[KT_KHOANGOAI_LOP]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[KT_KHOANGOAI_LOP] (@X nchar(10))
RETURNS BIT
AS
BEGIN
DECLARE @COUNT INT
	SELECT @COUNT=COUNT(MASV) FROM SINHVIEN WHERE MALOP=@X
	IF(@COUNT=0)
	BEGIN
		RETURN 1
	END
		RETURN 0
END
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=pubs.description, TENSERVER =subs.subscriber_server from dbo.sysmergepublications pubs, dbo.sysmergesubscriptions subs
where pubs.pubid = subs.pubid and  pubs.publisher <> subs.subscriber_server
GO
/****** Object:  Table [dbo].[BONHIEM]    Script Date: 10/12/2022 2:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONHIEM](
	[MAGV] [char](10) NOT NULL,
	[MAKHOA] [char](10) NOT NULL,
	[NGAYQD] [date] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BONHIEM_1] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[NGAYQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETLICHHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLICHHOC](
	[ID_LTC] [int] NOT NULL,
	[ID_LH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MOLICH] PRIMARY KEY CLUSTERED 
(
	[ID_LTC] ASC,
	[ID_LH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MACN] [char](10) NOT NULL,
	[TENCN] [nvarchar](50) NOT NULL,
	[MAKHOA] [char](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CHUYENNGANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MASV] [char](10) NOT NULL,
	[ID_LTC] [int] NOT NULL,
	[DIEM_CC] [float] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[ID_LTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAY]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAY](
	[MAGV] [char](10) NOT NULL,
	[ID_LTC] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DAY] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[ID_LTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [char](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](25) NOT NULL,
	[HOCVI] [nvarchar](15) NULL,
	[HOCHAM] [nvarchar](15) NULL,
	[CHUYENMON] [nvarchar](25) NULL,
	[MAKHOA] [char](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEHOACH]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHOACH](
	[MAMH] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[MACN] [char](10) NOT NULL,
	[NGAYCAPNHAT] [datetime] NOT NULL,
	[MANK] [char](10) NOT NULL,
	[NGAYAPDUNG] [date] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KEHOACH_1] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MACN] ASC,
	[MANK] ASC,
	[NGAYAPDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHANANGGIANG]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHANANGGIANG](
	[MAMH] [char](10) NOT NULL,
	[MAGV] [char](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHANANGGIANG] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [char](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYNIENKHOA]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYNIENKHOA](
	[MANK] [char](10) NOT NULL,
	[NIENKHOA] [nchar](20) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[THOIGIAN_BDDK] [date] NOT NULL,
	[THOIGIAN_KTDK] [date] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KYNIENKHOA] PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHOC](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[THU] [char](10) NOT NULL,
	[TBD] [int] NOT NULL,
	[TKT] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LICHHOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[MAKHOA] [char](10) NOT NULL,
	[KHOAHOC] [nchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[SOSVTOIDA] [int] NOT NULL,
	[MANV] [char](10) NOT NULL,
	[MAMH] [char](10) NOT NULL,
	[MANK] [char](10) NOT NULL,
	[MAKHOA] [char](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[STLT] [int] NOT NULL,
	[STTH] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](25) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](25) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[PHAI] [bit] NOT NULL,
	[KHOAHOC] [char](15) NOT NULL,
	[PASSWORD] [char](15) NULL,
	[MALOP] [char](10) NOT NULL,
	[MACN] [char](10) NOT NULL,
	[DANGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BONHIEM] ADD  CONSTRAINT [MSmerge_df_rowguid_EC1D83F88A8D4716B7DC186655DAC61A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CHITIETLICHHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_B0229AAC55164E10B8DEF0262BC0A0C8]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CHUYENNGANH] ADD  CONSTRAINT [MSmerge_df_rowguid_8593F10CC63D41C68371D629250C7B67]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_7ACCA81205FB43A380C17D9A866D1FC5]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DAY] ADD  CONSTRAINT [MSmerge_df_rowguid_23054D80177C49FB8AD4AF00217A78BC]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_12031C4B427442D6873C458D7945C23E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KEHOACH] ADD  CONSTRAINT [DF_KEHOACH_NGAYCAPNHAT]  DEFAULT (getdate()) FOR [NGAYCAPNHAT]
GO
ALTER TABLE [dbo].[KEHOACH] ADD  CONSTRAINT [DF_KEHOACH_NGAYAPDUNG]  DEFAULT (CONVERT([date],'09-09-'+CONVERT([char],datepart(year,getdate())))) FOR [NGAYAPDUNG]
GO
ALTER TABLE [dbo].[KEHOACH] ADD  CONSTRAINT [MSmerge_df_rowguid_25D18CBE498A4D96ABCFE05A96E78C0A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHANANGGIANG] ADD  CONSTRAINT [MSmerge_df_rowguid_F417CB3E5A68432CA8CFDE8248F3D133]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_A5524EE4B295497392B5258751458F23]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KYNIENKHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_9206CA13FB744A4794E3C725EF8B673F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LICHHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_E32C49F854F14F8DA082BFE869B27FBD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_8BD5D97A0F9245BABCAE66D714EFC817]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_NHOM]  DEFAULT ((1)) FOR [NHOM]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_51818ABF7D9A47719741982B15B93691]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_4782CBA666334AF497511DD25503EA89]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_15932338B10640329B398521A5E56F93]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ((0)) FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_B1213D285D2E4F4EB4B9359966206581]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BONHIEM]  WITH CHECK ADD  CONSTRAINT [FK_BONHIEM_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[BONHIEM] CHECK CONSTRAINT [FK_BONHIEM_GIANGVIEN]
GO
ALTER TABLE [dbo].[BONHIEM]  WITH CHECK ADD  CONSTRAINT [FK_BONHIEM_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BONHIEM] CHECK CONSTRAINT [FK_BONHIEM_KHOA]
GO
ALTER TABLE [dbo].[CHITIETLICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLICHHOC_LOPTINCHI] FOREIGN KEY([ID_LTC])
REFERENCES [dbo].[LOPTINCHI] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETLICHHOC] CHECK CONSTRAINT [FK_CHITIETLICHHOC_LOPTINCHI]
GO
ALTER TABLE [dbo].[CHITIETLICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_MOLICH_LICHHOC] FOREIGN KEY([ID_LH])
REFERENCES [dbo].[LICHHOC] ([ID])
GO
ALTER TABLE [dbo].[CHITIETLICHHOC] CHECK CONSTRAINT [FK_MOLICH_LICHHOC]
GO
ALTER TABLE [dbo].[CHUYENNGANH]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENNGANH_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[CHUYENNGANH] CHECK CONSTRAINT [FK_CHUYENNGANH_KHOA]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([ID_LTC])
REFERENCES [dbo].[LOPTINCHI] ([ID])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_GIANGVIEN]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_LOPTINCHI] FOREIGN KEY([ID_LTC])
REFERENCES [dbo].[LOPTINCHI] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[KEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_CHUYENNGANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[KEHOACH] CHECK CONSTRAINT [FK_KEHOACH_CHUYENNGANH]
GO
ALTER TABLE [dbo].[KEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_KYNIENKHOA] FOREIGN KEY([MANK])
REFERENCES [dbo].[KYNIENKHOA] ([MANK])
GO
ALTER TABLE [dbo].[KEHOACH] CHECK CONSTRAINT [FK_KEHOACH_KYNIENKHOA]
GO
ALTER TABLE [dbo].[KEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[KEHOACH] CHECK CONSTRAINT [FK_KEHOACH_MONHOC]
GO
ALTER TABLE [dbo].[KEHOACH]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KEHOACH] CHECK CONSTRAINT [FK_KEHOACH_NHANVIEN]
GO
ALTER TABLE [dbo].[KHANANGGIANG]  WITH CHECK ADD  CONSTRAINT [FK_KHANANGGIANG_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[KHANANGGIANG] CHECK CONSTRAINT [FK_KHANANGGIANG_GIANGVIEN]
GO
ALTER TABLE [dbo].[KHANANGGIANG]  WITH CHECK ADD  CONSTRAINT [FK_KHANANGGIANG_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHANANGGIANG] CHECK CONSTRAINT [FK_KHANANGGIANG_MONHOC]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_CHUYENNGANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_CHUYENNGANH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DANGKY_DIEM_CC] CHECK  (([DIEM_CC]>=(0) AND [DIEM_CC]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DANGKY_DIEM_CC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DANGKY_DIEM_CK] CHECK  (([DIEM_CK]>=(0) AND [DIEM_CK]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DANGKY_DIEM_CK]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DANGKY_DIEM_GK] CHECK  (([DIEM_GK]>=(0) AND [DIEM_GK]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DANGKY_DIEM_GK]
GO
ALTER TABLE [dbo].[LICHHOC]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_54F3FFE2_C99F_40D3_BA35_C67A2A2DBC2B] CHECK NOT FOR REPLICATION (([ID]>(24) AND [ID]<=(1024) OR [ID]>(1024) AND [ID]<=(2024)))
GO
ALTER TABLE [dbo].[LICHHOC] CHECK CONSTRAINT [repl_identity_range_54F3FFE2_C99F_40D3_BA35_C67A2A2DBC2B]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_7F157E22_4942_4D5E_9DE7_2EA6FA924FC9] CHECK NOT FOR REPLICATION (([ID]>(90023) AND [ID]<=(91023) OR [ID]>(91023) AND [ID]<=(92023)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_7F157E22_4942_4D5E_9DE7_2EA6FA924FC9]
GO
/****** Object:  StoredProcedure [dbo].[DS_KHOAHOC_LOP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DS_KHOAHOC_LOP]
as
begin
	Select distinct l.KHOAHOC from LOP l
end
GO
/****** Object:  StoredProcedure [dbo].[DS_LOP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DS_LOP] @nienkhoa nvarchar(10)
as
begin
	Select*from LOP l where l.KHOAHOC=@nienkhoa order by l.MALOP
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CALL_CHECK_PLAN_GV_LTC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CALL_CHECK_PLAN_GV_LTC] (@ID_LTC INT, @MAGV NCHAR(10))
AS
	BEGIN
	DECLARE @TSQL NVARCHAR(1000), @LinkedServer NCHAR(10),
	@OPENQUERY NVARCHAR(1000)
	SET @LinkedServer = 'LINK0'
	SET @OPENQUERY = 'SELECT * FROM OPENQUERY('+ @LinkedServer + ','''
	SET @TSQL = 'SELECT QLDSSV_TC.[dbo].[FUNC_CHECK_GV_DAY_PLAN]('+CAST(@ID_LTC AS nvarchar(30))+','''''+@MAGV+''''')'')' 
	EXEC(@OPENQUERY+@TSQL)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(64)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 if(exists(SELECT*FROM GIANGVIEN WHERE MAGV = @TENUSER))
	 BEGIN
		 SELECT USERNAME = @TENUSER, 
		  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
		  TENNHOM= NAME
		  FROM sys.sysusers 
		  WHERE UID = (SELECT GROUPUID 
						 FROM SYS.SYSMEMBERS 
						   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
											  WHERE NAME=@TENUSER))
	  END
 ELSE
	BEGIN
		SELECT USERNAME = @TENUSER, 
		  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
		  TENNHOM= NAME
		  FROM sys.sysusers 
		  WHERE UID = (SELECT GROUPUID 
						 FROM SYS.SYSMEMBERS 
						   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
											  WHERE NAME=@TENUSER))
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP_SINHVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_DANGNHAP_SINHVIEN]
@masv varchar(50),
@password varchar(50)
as 


Select USERNAME = MASV , HOTEN = SINHVIEN.HO + ' ' + SINHVIEN.TEN,TENNHOM = 'SV' from SINHVIEN 
Where @masv = SINHVIEN.MASV and @password = SINHVIEN.PASSWORD and  Sinhvien.Danghihoc = 0
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_All_GiangVien]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DS_All_GiangVien]
as begin
	select  MAGV, HO+' '+TEN as HOTEN,HOCHAM,HOCVI,CHUYENMON from  GIANGVIEN 
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_DANGKY_BY_MALTC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DS_DANGKY_BY_MALTC] @maltc int
as
select d.ID_LTC as MALTC, s.MASV,s.HO + ' ' + s.TEN as TENSV , DIEM_CC, DIEM_GK, DIEM_CK from
(select * from DANGKY where ID_LTC = @maltc) as d,
(select * from SINHVIEN where DANGHIHOC = 0) as s where
d.MASV = s.MASV
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_DANGKY_SINHVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DS_DANGKY_SINHVIEN] @nienKhoa varchar(10), @hocKy int , @maSV nchar(10)
as
	select L.ID as MALTC , D.MASV , L.MAMH, MONHOC.TENMH, L.MAGV ,GIANGVIEN.HO+ ' '  + GIANGVIEN.TEN as TENGV, L.NHOM,l.SOSVTOIDA from 
	(select ltc.*, d.MAGV from LOPTINCHI ltc,KYNIENKHOA knk, DAY d where d.ID_LTC = ltc.ID and ltc.MANK=knk.MANK and knk.NIENKHOA = @nienKhoa and knk.HOCKY = @hocKy) as L
	, (Select * from DANGKY where DANGKY.MASV = @maSV) as D ,
	MONHOC, GIANGVIEN
	where L.ID = D.ID_LTC  and MONHOC.MAMH = L.MAMH and GIANGVIEN.MAGV = L.MAGV
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_DIEM_SINHVIEN_BY_MASV]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_DIEM_SINHVIEN_BY_MASV] @maSV nchar(10)
AS
	Declare @hoten nvarchar(100), @tenlop nvarchar(150), @malop nchar(14)
	SELECT @hoten = HO+' '+TEN,@malop=SV.MALOP,@tenlop = L.TENLOP FROM SINHVIEN SV
	INNER JOIN LOP L ON SV.MALOP = L.MALOP  WHERE SV.MASV = @maSV

	BEGIN
		Select @hoten as HOTEN,@malop as MALOP, @tenlop as TENLOP, MAMH,TENMH,DIEM_CC,DIEM_GK,DIEM_CK,DIEM_HM,NIENKHOA,HOCKY
	from
	(SELECT
		dk.ID_LTC,ltc.MAMH,mh.TENMH,dk.DIEM_CC,DK.DIEM_GK,DK.DIEM_CK,
		knk.NIENKHOA,knk.HOCKY,
		(DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6) as DIEM_HM,
		RANK () OVER ( 
			PARTITION BY ltc.MAMH
			ORDER BY (DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6) DESC
		) rank
	FROM DANGKY dk inner join LOPTINCHI ltc
	ON dk.ID_LTC = ltc.ID 
	inner join MONHOC mh on mh.MAMH = ltc.MAMH  inner join KYNIENKHOA knk on knk.MANK = ltc.MANK
	where dk.MASV = @maSV and ltc.HUYLOP <> 1) as R
	where rank = 1	
	END


GO
/****** Object:  StoredProcedure [dbo].[SP_DS_GiangVien_CURRENT]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DS_GiangVien_CURRENT]
as begin
	select  MAGV , HO + ' ' + TEN as HOTEN from  GIANGVIEN , Khoa where GIANGVIEN.MAKHOA = KHOA.MAKHOA
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_GIANGVIEN_KHANANGGIANG]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_GIANGVIEN_KHANANGGIANG]
AS
BEGIN
	SELECT GV.MAGV, GV.HO+' '+GV.TEN AS HOTEN, KNG.MAMH FROM GIANGVIEN GV, KHANANGGIANG KNG
	WHERE GV.MAGV = KNG.MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_GIANGVIEN_LOPTINCHI]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DS_GIANGVIEN_LOPTINCHI] AS
BEGIN
	SELECT GV.MAGV, GV.HO+' '+GV.TEN as HOTEN , D.ID_LTC  as MALTC, LTC.MAMH,LTC.NHOM, LTC.MANK
	FROM LOPTINCHI LTC, DAY D, GIANGVIEN GV
	WHERE LTC.ID = D.ID_LTC AND GV.MAGV = D.MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_LOPHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DS_LOPHOC]
as 
begin
	select*from Lop
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_LopTinChi]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DS_LopTinChi] @nienkhoa nvarchar(10), @hocky int
as
	begin
	select L.ID as MALTC, L.NIENKHOA, L.MAMH, L.HOCKY, L.NHOM, L.MANK, L.MANV,
	L.SOSVTOITHIEU,L.SOSVTOIDA, M.TENMH, L.MAGV, G.HO + ' ' +  G.TEN as TENGV, L.MAKHOA, k.TENKHOA, L.HUYLOP
	from (select ltc.*, knk.NIENKHOA, knk.HOCKY, d.MAGV from LOPTINCHI as ltc, KYNIENKHOA knk, DAY d 
	where ltc.ID = d.ID_LTC and
	ltc.MANK = knk.MANK 
	and knk.NIENKHOA = @nienkhoa 
	and knk.HOCKY = @hocky)as L
	, GIANGVIEN as G, MONHOC as M, KHOA AS K
	where L.MAGV = g.MAGV	
		and L.MAMH = M.MAMH 
		and L.MAKHOA = k.MAKHOA
	order by m.TENMH
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_LopTinChi_Active]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DS_LopTinChi_Active] @nienkhoa nvarchar(10), @hocky int
as
	begin
		select L.ID as MALTC, L.NIENKHOA, L.MAMH, L.HOCKY, L.NHOM, L.MANK, L.MANV,
	L.SOSVTOITHIEU,L.SOSVTOIDA, M.TENMH, L.MAGV, G.HO + ' ' +  G.TEN as TENGV, L.MAKHOA,
	COUNT(D.ID_LTC) as SOSVDANGKY
	 
	from (select ltc.*, knk.NIENKHOA, knk.HOCKY, d.MAGV from LOPTINCHI as ltc, KYNIENKHOA knk, DAY d where
			ltc.ID = d.ID_LTC and ltc.MANK = knk.MANK and
				knk.NIENKHOA = @nienkhoa and knk.HOCKY = @hocky and ltc.HUYLOP = 0)as L
	left join GIANGVIEN as G
	on L.MAGV = g.MAGV
	left join MONHOC as M
	on L.MAMH = M.MAMH
	left join (select * from DANGKY )as D
	on D.ID_LTC = L.ID 
	
	group by  L.ID, L.NIENKHOA, L.MAMH, L.HOCKY, L.NHOM,    
	L.SOSVTOITHIEU, M.TENMH, L.MAGV, G.HO , G.TEN, L.MAKHOA  , D.ID_LTC, L.SOSVTOIDA
	,L.MANK, L.MANV
	order by m.TENMH 
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_LopTinChi_Khong_GiangVien]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DS_LopTinChi_Khong_GiangVien] @nienkhoa nvarchar(10), @hocky int
as
	begin
	select L.ID as MALTC, L.NIENKHOA, L.MAMH, L.HOCKY, L.NHOM,L.MANK,L.MANV,
	L.SOSVTOITHIEU,L.SOSVTOIDA, M.TENMH, L.MAKHOA, k.TENKHOA, L.HUYLOP
	from (select ltc.*, knk.NIENKHOA, knk.HOCKY from LOPTINCHI as ltc, KYNIENKHOA knk
	where 
	ltc.MANK = knk.MANK 
	and knk.NIENKHOA = @nienkhoa 
	and knk.HOCKY = @hocky)as L
	, MONHOC as M, KHOA AS K
	where L.MAMH = M.MAMH 
		and L.MAKHOA = k.MAKHOA
	order by m.TENMH
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_MonHoc]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DS_MonHoc]
as begin
	select  MAMH, TENMH, STLT as SOTIET_LT, STTH as SOTIET_TH from  MONHOC 
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_MONHOC_KEHOACH]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_MONHOC_KEHOACH] @nienKhoa char(10), @hocky int
as
begin
select MH.MAMH, MH.TENMH,MH.STLT as SOTIET_LT,MH.STTH as SOTIET_TH, KNK.NIENKHOA, KNK.HOCKY,CN.MACN, CN.TENCN from 
KEHOACH KH, MONHOC MH, KYNIENKHOA KNK, CHUYENNGANH CN
where KH.MAMH = MH.MAMH and KH.MANK = KNK.MANK
and KH.MACN = CN.MACN
and KNK.NIENKHOA = @nienKhoa and KNK.HOCKY = @hocky
and KH.NGAYAPDUNG = (SELECT MAX(NGAYAPDUNG) from KEHOACH where NGAYAPDUNG <= GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_NHANVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_NHANVIEN]
AS
SELECT MANV as MAGV, HO+' '+TEN AS HOTEN FROM NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_PhanManh]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DS_PhanManh]
as begin
	Select * from V_DS_PHANMANH
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_SINHVEN_LOPTINCHI]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DS_SINHVEN_LOPTINCHI] @nienkhoa nchar(10), @hocky int, @mamh nchar(32), @nhom int
as begin
	Select s.MASV, s.HO, s.TEN, s.PHAI, s.MALOP from (Select * from SINHVIEN where DANGHIHOC = 0) as s,
				(Select ltc.*, knk.NIENKHOA, knk.HOCKY from LOPTINCHI ltc, KYNIENKHOA knk where HUYLOP = 0 and ltc.MANK = knk.MANK and
										MAMH = @mamh
										and NIENKHOA = @nienkhoa and HOCKY = @hocky
										and NHOM = @nhom
				) as l, DANGKY as d
				where s.MASV = d.MASV and d.ID_LTC = l.ID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_SINHVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DS_SINHVIEN]
AS
BEGIN
	SELECT*FROM SINHVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_SINHVIEN_BY_LOP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DS_SINHVIEN_BY_LOP] @MALOP NCHAR(10)
AS
BEGIN
	SELECT*FROM SINHVIEN WHERE MALOP=@MALOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_TONGKETCUOIKHOA]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DS_TONGKETCUOIKHOA] @malop nchar(32)
as
select s.MASV +' - '+ s.HO + ' '+s.TEN as TEN , m.TENMH , max( COALESCE( d.DIEM_CK,0) *0.6 +  COALESCE(d.DIEM_GK,0)*0.3 + COALESCE(D.DIEM_CC,0)*0.1) as DIEM from (select * from DANGKY)as d ,
(select MASV,HO,TEN from sinhvien where danghihoc = 0 and  MALOP = @malop) as s, LOPTINCHI as l , MONHOC as m where d.masv = s.masv and d.ID_LTC = L.ID and L.MAMH = m.MAMH and l.HUYLOP = 0
group by s.MASV,s.HO,s.TEN, m.TENMH
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CHI_TIET_LICHHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CHI_TIET_LICHHOC]
AS
BEGIN
	SELECT CTLH.ID_LTC AS MALTC, CTLH.ID_LH AS MALH, LH.THU, LH.TBD, LH.TKT
	FROM LICHHOC LH 
	INNER JOIN CHITIETLICHHOC CTLH  ON LH.ID = CTLH.ID_LH
	INNER JOIN LOPTINCHI LTC ON LTC.ID = CTLH.ID_LTC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CHI_TIET_LICHHOC_LTC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CHI_TIET_LICHHOC_LTC] @MALTC int
AS
BEGIN
	SELECT CTLH.ID_LTC AS MALTC, CTLH.ID_LH AS MALH, LH.THU, LH.TBD, LH.TKT
	FROM LICHHOC LH 
	INNER JOIN CHITIETLICHHOC CTLH  ON LH.ID = CTLH.ID_LH
	INNER JOIN LOPTINCHI LTC ON LTC.ID = CTLH.ID_LTC
	WHERE CTLH.ID_LTC = @MALTC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CHUYENNGANH]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CHUYENNGANH]
AS
	BEGIN
		SELECT * FROM CHUYENNGANH
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CT_LICHHOC_BY_NK]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CT_LICHHOC_BY_NK] @nienKhoa NCHAR(10), @hocky INT
AS
BEGIN
	SELECT CTLH.ID_LTC AS MALTC, CTLH.ID_LH AS MALH, LH.THU, LH.TBD, LH.TKT
	FROM LICHHOC LH 
	INNER JOIN CHITIETLICHHOC CTLH  ON LH.ID = CTLH.ID_LH
	INNER JOIN LOPTINCHI LTC ON LTC.ID = CTLH.ID_LTC
	INNER JOIN KYNIENKHOA KNK ON LTC.MANK=KNK.MANK
	WHERE KNK.NIENKHOA = @nienKhoa AND KNK.HOCKY = @hocky
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DS_GIANGVIEN_BY_KHOA]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DS_GIANGVIEN_BY_KHOA] @MAKHOA NCHAR(10)
AS
BEGIN
	SELECT * FROM GIANGVIEN WHERE MAKHOA = @MAKHOA;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DS_KHOA]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DS_KHOA]
AS
BEGIN
	SELECT MAKHOA, TENKHOA FROM KHOA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_KEHOACH]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GET_KEHOACH]
as
begin
	select * from KEHOACH
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LICHHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_LICHHOC]
AS
BEGIN
	SELECT ID AS MALH, THU, TBD, TKT FROM LICHHOC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MANK]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_MANK] @nienKhoa nchar(10), @hocKy int
AS
BEGIN
	SELECT * FROM KYNIENKHOA KNK WHERE KNK.NIENKHOA = @nienKhoa AND KNK.HOCKY = @hocKy
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTenKhoaByMaLop]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_GetTenKhoaByMaLop]
@MALOP NVARCHAR (10)
AS
select TENKHOA from (SELECT MAKHOA FROM LOP where MALOP = @MALOP) lp, KHOA
where lp.MAKHOA = KHOA.MAKHOA
GO
/****** Object:  StoredProcedure [dbo].[SP_GIANGVIEN_KHANANGGIANG]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GIANGVIEN_KHANANGGIANG] @mamh char(10)
AS
BEGIN
	SELECT GV.MAGV, GV.HO+' '+GV.TEN AS HOTEN FROM GIANGVIEN GV, KHANANGGIANG KNG
	WHERE GV.MAGV = KNG.MAGV AND KNG.MAMH = @mamh
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InBangDiemSV]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_InBangDiemSV]
@MaSV nchar(10), @Role char(4)
as begin
	declare @hoten nvarchar(50) = '';
	if(@Role = 'PGV')
	begin
		if exists(select 1 from SINHVIEN where MASV = @MaSV and DANGHIHOC = 0)
			begin
				select @hoten = HO + ' ' + TEN from SINHVIEN where MASV = @MaSV;
				select HOTEN = @hoten, TENMH, MAX(DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6) as DIEMTK 
				from (select ID_LTC, DIEM_CC, DIEM_GK, DIEM_CK from DANGKY dk where  MASV = @MaSV) SVDK,
				LOPTINCHI, MONHOC where SVDK.ID_LTC = LOPTINCHI.ID and MONHOC.MAMH = LOPTINCHI.MAMH
				group by TENMH
				order by TENMH
			end
		else if exists(select 1 from LINK0.QLDSSV_TC.dbo.SINHVIEN where MASV = @MaSV and DANGHIHOC = 0)
			begin
				select @hoten = HO + ' ' + TEN from LINK0.QLDSSV_TC.dbo.SINHVIEN where MASV = @MaSV;
				select HOTEN = @hoten, TENMH, MAX(DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6) as DIEMTK 
				from (select ID_LTC, DIEM_CC, DIEM_GK, DIEM_CK from LINK0.QLDSSV_TC.dbo.DANGKY where MASV = @MaSV) SVDK,
				LINK0.QLDSSV_TC.dbo.LOPTINCHI LOPTC, LINK0.QLDSSV_TC.dbo.MONHOC MH where SVDK.ID_LTC = LOPTC.ID and MH.MAMH = LOPTC.MAMH
				group by TENMH
				order by TENMH
			end
		else
			raiserror('Mã sinh viên không tồn tại hoặc sinh viên đã nghỉ học', 16, 1)
	end
	else
		if exists(select 1 from SINHVIEN where MASV = @MaSV and DANGHIHOC = 0)
			begin
				select @hoten = HO + ' ' + TEN from SINHVIEN where MASV = @MaSV;
				select HOTEN = @hoten, TENMH, MAX(DIEM_CC * 0.1 + DIEM_GK * 0.3 + DIEM_CK * 0.6) as DIEMTK 
				from (select ID_LTC, DIEM_CC, DIEM_GK, DIEM_CK from DANGKY where  MASV = @MaSV) SVDK,
				LOPTINCHI, MONHOC where SVDK.ID_LTC = LOPTINCHI.ID and MONHOC.MAMH = LOPTINCHI.MAMH
				group by TENMH
				order by TENMH

			end
		else
			raiserror('Mã sinh viên không tồn tại trong Khoa hoặc sinh viên đã nghỉ học', 16, 1)
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_LOPTINHCHI]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_REPORT_LOPTINHCHI] @NIENKHOA NCHAR(10)
,@HOCKY INT,@MAMH NCHAR(10),@NHOM INT
AS
BEGIN
	SELECT SV.MASV,SV.HO,SV.TEN,DK.DIEM_CC,DK.DIEM_GK,DK.DIEM_CK,ROUND((DK.DIEM_CC*0.1+DK.DIEM_GK*0.3+DK.DIEM_CK*0.6),1) AS DIEM_HM FROM LOPTINCHI LTC,SINHVIEN SV,DANGKY DK, KYNIENKHOA KNK
	WHERE SV.MASV=DK.MASV AND LTC.ID=DK.ID_LTC AND LTC.MANK = KNK.MANK and KNK.NIENKHOA=@NIENKHOA
			AND KNK.HOCKY=@HOCKY AND LTC.MAMH=@MAMH AND LTC.NHOM=@NHOM
			AND LTC.HUYLOP = 0 AND SV.DANGHIHOC = 0
	ORDER BY TEN,HO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS


  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSSV_TC'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE= 'PGV' OR @ROLE= 'KHOA'
  BEGIN 
    EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
    EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
  END
RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINSINHVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_THONGTINSINHVIEN]
@MASV NVARCHAR (50)
AS
select HO + ' ' + TEN as HOTEN, MALOP from SINHVIEN where MASV = @MASV

GO
/****** Object:  StoredProcedure [dbo].[SP_TIMLOP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_TIMLOP]
@X nchar(10)
as
 DECLARE @MAKHOA nchar(10), @KHOAHOC nvarchar(50), @TENLOP nvarchar(10)
 IF  exists(select MALOP from  dbo.LOP  where MALOP=@X)
 BEGIN
   	SELECT TENKHOA= (SELECT TENKHOA FROM dbo.KHOA),  TENLOP, KHOAHOC 
   	FROM LOP WHERE MALOP=@X
 END
 ELSE
  IF  exists(select MALOP from  LINK0.QLDSSV_TC.dbo.LOP  where MALOP =@X)
  BEGIN
    SELECT  @MAKHOA= MAKHOA,  @KHOAHOC=KHOAHOC, @TENLOP=TENLOP 
   	    FROM LINK0.QLDSSV_TC.dbo.LOP WHERE MALOP=@X
   	SELECT  TENKHOA=TENKHOA,  KHOAHOC=@KHOAHOC, TENLOP =@TENLOP
   	 FROM LINK0.QLDSSV_TC.dbo.KHOA  WHERE MAKHOA=@MAKHOA
   	                  
  END
  ELSE  -- không có nv
     raiserror ( 'Ma lop ban tim khong co', 16, 1)
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CT_LICHHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATE_CT_LICHHOC] @CTLH [dbo].[TYPE_NEWUPDATE_CT_LICHHOC] readonly
as
begin
	merge CHITIETLICHHOC as target
    using @CTLH as source
	on target.ID_LTC  = source.MALTC and target.ID_LH = source.MALH
	when matched then update  set 
	 -- update
		target.ID_LH = source.MALH
	-- insert
	when not matched by target then
		insert (ID_LH,ID_LTC)
		values(source.MALH,source.MALTC)
	--delete
	when not matched by source then 
		delete;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DANGKY]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATE_DANGKY] @DK dbo.TYPE_UPDATE_DANGKY readonly, 
@masv nchar(10), @MANK nchar(10)
as
begin
	DECLARE @LIST_LTC table(Id int)
	INSERT INTO @LIST_LTC SELECT ID FROM LOPTINCHI WHERE MANK = @MANK
	merge DANGKY as target
    using(SELECT MALTC,MASV,LTC.MANK from @DK dk 
		INNER JOIN LOPTINCHI LTC ON LTC.ID = MALTC
	) as source 
	on target.ID_LTC  = source.MALTC and target.MASV = source.MASV
	-- insert
	when not matched by target then 
		insert (ID_LTC,MASV,DIEM_CC, DIEM_GK, DIEM_CK)
		values(source.MALTC, source.MASV , 0, 0 , 0) 
	--delete
	when not matched by source and target.MASV = @masv 
	and [DBO].[FUNC_CHECK_LTC_DK_NIENKHOA](target.ID_LTC,@MANK) = 1 then 
		delete;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIEM]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATE_DIEM] @DK dbo.TYPE_UPDATE_DIEM readonly
as
begin
	

	merge DANGKY as target
    using @DK as source 
	on target.ID_LTC  = source.MALTC and target.MASV = source.MASV
	when matched then update  set 
	 -- update
		target.DIEM_GK = source.DIEM_GK, 
		target.DIEM_CC = source.DIEM_CC,
		target.DIEM_CK = source.DIEM_CK;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_GIANGVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATE_GIANGVIEN] @GIANGVIEN [dbo].[TYPE_NEWUPDATE_GIANGVIEN] readonly, @MAKHOA NCHAR(10)
as
begin
	merge GIANGVIEN as target
    using @GIANGVIEN as source
	on target.MAGV  = source.MAGV
	when matched then update  set 
	 -- update
		target.MAGV = source.MAGV,
		target.MAKHOA = source.MAKHOA,
		target.HO = source.HO,
		target.TEN = source.TEN,
		target.HOCVI=source.HOCVI,
		target.HOCHAM=source.HOCHAM,
	    target.CHUYENMON=source.CHUYENMON
	-- insert
	when not matched by target then
		insert (MAGV,MAKHOA,HO,TEN,HOCVI,HOCHAM,CHUYENMON)
		values(source.MAGV,source.MAKHOA,source.HO,source.TEN,source.HOCVI,source.HOCHAM,source.CHUYENMON)
	--delete
	when not matched by source and target.MAKHOA = @MAKHOA then 
		delete;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_HUYLOP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_HUYLOP]
AS
BEGIN
	DECLARE @TABLETEMP TABLE(ID INT,SOSVTOITHIEU INT)

	INSERT INTO @TABLETEMP(ID,SOSVTOITHIEU)
	SELECT LTC.ID,LTC.SOSVTOITHIEU
		FROM LOPTINCHI LTC LEFT JOIN (select * from DANGKY )as DK
		ON LTC.ID = DK.ID_LTC INNER JOIN KYNIENKHOA KNK ON
		LTC.MANK = KNK.MANK
		WHERE KNK.THOIGIAN_KTDK < GETDATE()
		GROUP BY LTC.ID,LTC.SOSVTOITHIEU
		HAVING COUNT(DK.ID_LTC) < LTC.SOSVTOITHIEU
		ORDER BY LTC.ID

	UPDATE LOPTINCHI
	SET HUYLOP = 1
	WHERE ID IN (SELECT ID FROM @TABLETEMP)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LOP]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATE_LOP] @LOP [dbo].[TYPE_NEWUPDATE_LOP] readonly
as
begin
	declare @makhoa nchar(10);
	set @makhoa = (select top 1 makhoa from KHOA);
	merge LOP as target
    using @LOP as source
	on target.MALOP  = source.MALOP
	when matched then update  set 
	 -- update
		target.MALOP = source.MALOP,
		target.TENLOP = source.TENLOP,
		target.KHOAHOC = source.KHOAHOC
	-- insert
	when not matched by target and [dbo].[FUNC_KT_MALOP](source.MALOP)=1 then
		insert (MALOP,TENLOP,KHOAHOC,MAKHOA)
		values(source.MALOP,source.TENLOP,source.KHOAHOC,@makhoa)
	--delete
	when not matched by source and [dbo].[KT_KHOANGOAI_LOP](target.MALOP)=1 then 
		delete;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LopTinChi]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATE_LopTinChi] @LTC dbo.TYPE_NEWUPDATE_LopTinChi readonly, @DAYTEMP [TYPE_NEWUPDATE_DAY] readonly , @nienkhoa varchar(10), @hocky int
as
Begin
	begin
		declare @makhoa nchar(10), @mank nchar(10);
		set @makhoa = (select top 1 makhoa from KHOA) ;
		set @mank = (Select MANK from KYNIENKHOA where NIENKHOA = @nienkhoa and HOCKY = @hocky)
		merge LOPTINCHI as target
		using @LTC as source 
		on target.ID  = source.MALTC
		when matched then update  set 
		 -- update
			target.MAMH = source.MAMH,
			target.NHOM = source.NHOM,
			target.SOSVTOITHIEU = source.SOSVTOITHIEU,
			target.HUYLOP = source.HUYLOP,
			target.MANV = source.MANV,
			target.SOSVTOIDA = source.SOSVTOIDA
		-- insert
		when not matched by target then
			insert (MANK,MAMH,NHOM,MANV,MAKHOA,SOSVTOITHIEU,SOSVTOIDA,HUYLOP)
			values(@mank,source.MAMH,source.NHOM,source.MANV,@makhoa,source.SOSVTOITHIEU,source.SOSVTOIDA,source.HUYLOP)
		--delete
		when not matched by source and target.MANK = @mank then
			delete;
	end
	begin
	DROP TABLE IF EXISTS #TempDay
	create TABLE #TempDay 
	(
		MALTC int, 
		MAMH nchar(10), 
		NHOM int, 
		MAGV nchar(10),
		MANK nchar(10)
	)
	INSERT INTO #TempDay(MALTC,MAMH,MAGV,NHOM,MANK)
	SELECT MALTC,MAMH,MAGV,NHOM,MANK FROM @DAYTEMP
	UPDATE #TempDay
	set MALTC = ltc.ID
	from LOPTINCHI ltc
	where ltc.NHOM = #TempDay.NHOM and ltc.MAMH = #TempDay.MAMH and ltc.MANK = #TempDay.MANK
	merge DAY as target
		using #TempDay as source 
		on target.ID_LTC  = source.MALTC AND target.MAGV = source.MAGV
		when matched then update  set 
		 -- update
			target.MAGV = source.MAGV
		-- insert
		when not matched by target then
			insert (MAGV,ID_LTC)
			values(source.MAGV,source.MALTC)
		--delete
		when not matched by source  then
			delete;
	DROP TABLE IF EXISTS #TempDay
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MONHOC]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UPDATE_MONHOC] @MONHOC [dbo].[TYPE_NEWUPDATE_MONHOC] readonly, @KNG [dbo].[TYPE_NEWUPDATE_KHANANGGIANG] readonly
as
begin
	begin
		merge MONHOC as target
		using @MONHOC as source
		on target.MAMH  = source.MAMH
		when matched then update  set 
		 -- update
			target.MAMH = source.MAMH,
			target.TENMH = source.TENMH,
			target.STLT = source.SOTIET_LT,
			target.STTH = source.SOTIET_TH
		-- insert
		when not matched by target and [dbo].[FUNC_KT_MAMONHOC](source.MAMH) =1 then
			insert (MAMH,TENMH,STLT,STTH)
			values(source.MAMH,source.TENMH,source.SOTIET_LT,source.SOTIET_TH)
		--delete
		when not matched by source and [dbo].[func_KT_MONHOC](target.MAMH)=1 then 
			delete;
	end
	begin
		merge KHANANGGIANG as target
		using @KNG as source
		on target.MAMH  = source.MAMH and target.MAGV = source.MAGV
		when matched then update  set 
		 -- update
			target.MAGV = source.MAGV
		-- insert
		when not matched by target then
			insert (MAMH,MAGV)
			values(source.MAMH,source.MAGV)
		--delete
		when not matched by source then 
			delete;
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SINHVIEN]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UPDATE_SINHVIEN] @SINHVIEN [dbo].[TYPE_NEWUPDATE_SINHVIEN] readonly
as
begin
	merge SINHVIEN as target
    using @SINHVIEN as source
	on target.MASV  = source.MASV
	when matched then update  set 
	 -- update
		target.MASV = source.MASV,
		target.HO = source.HO,
		target.TEN = source.TEN,
		target.PHAI = source.PHAI,
		target.DIACHI = source.DIACHI,
		target.NGAYSINH = source.NGAYSINH,
		target.MALOP = source.MALOP,
		target.DANGHIHOC = source.DANGHIHOC,
		target.PASSWORD = source.PASSWORD,
		target.KHOAHOC = source.KHOAHOC,
		target.MACN = source.MACN
	-- insert
	when not matched by target and [dbo].[FUNC_KT_MASINHVIEN](source.MASV)=1 then
		insert (MASV,HO,TEN,PHAI,DIACHI,NGAYSINH,MALOP,DANGHIHOC,PASSWORD,KHOAHOC,MACN)
		values(source.MASV,source.HO,source.TEN,source.PHAI,source.DIACHI,source.NGAYSINH,source.MALOP,source.DANGHIHOC,source.PASSWORD,source.KHOAHOC,source.MACN)
	--delete
	when not matched by source then 
		delete;
end
GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 10/12/2022 2:58:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[Xoa_Login]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
GO
